/* Product.css */
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 35px; 
  padding: 50px 20px; 
  margin: 50px auto;
  max-width: 1000px; 
}

.product-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 300px;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product-info {
  width: 100%;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #000;
}

.product-price {
  font-size: 15px;
  font-weight: bold;
  color: #d10000;
  margin-top: 5px;
}

.add-to-cart-btn {
  margin-top: 15px;
  background-color: #0D0235;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-to-cart-btn:hover {
  background-color: #2c275e;
}

@media (max-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-container {
    grid-template-columns: 1fr;
  }
}