.navbar2 {
  background-color: #999999;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-family: 'Switzer', sans-serif;
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 78%;
  max-width: 1307px;
}

.navbar2-logo {
  width: 34px;
  height: auto;
  object-fit: contain;
}

.navbar2-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar2-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar2-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cart-icon {
  font-size: 24px; 
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; 
  text-decoration: none; 
  border: none;
  outline: none; 
}

.hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #4B4B4B;
}

/* Styles pour le mode mobile */
@media (max-width: 768px) {
  .navbar2 {
    padding: 0 20px;
    flex-wrap: wrap;
    height: auto;
    min-height: 56px;
  }

  .hamburger-menu {
    display: block;
    order: 1;
    margin-right: auto;
    padding: 0 10px;
  }

  .navbar2-links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding: 20px 0;
    margin-top: 10px;
    border-top: 1px solid #f0f0f0;
  }
  .user-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .navbar2-links.mobile-open {
    display: flex;
  }

  .navbar2-right {
    order: 2;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .navbar2 {
    width: 90%;
  }

  .join-btn {
    padding: 8px 15px;
    font-size: 11px;
  }
}