body {
  font-family: 'Inter', sans-serif;
}

.account-container {
  max-width: 1290px;
  margin: 0 auto;
}

.profile-form {
  background-color: white;
  border: 1px solid #94a3b8;
  width: 1000px;
  height: 500px;
  border-radius: 15px;
  margin-top: -44.5rem;
  padding: 1.5rem;
  margin-left: 150px;
}

.form-title {
  color: #1e293b;
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.form-actions {
  padding-top: 20px;
}

.cancel-btn {
  font-size: 0.75rem;
  border: none;
  background: none;
  cursor: pointer;
}

.submit-btn {
  background-color: #6ea8f7;
  font-weight: 600;
  font-size: 0.75rem;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
}

.cancel-btn {
  font-size: 0.75rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

.input-group label {
  display: block;
  font-size: 0.75rem;
  color: #1e293b;
  margin-bottom: 0.25rem;
}

.account-input {
  width: 100%;
  border: 1px solid #94a3b8;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  color: #475569;
}

.account-input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #60a5fa;
}

.password-title {
  color: #1e293b;
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.password-fields {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.cancel-btn {
  font-size: 1.5rem;
}

.save-btn {
  background-color: #60a5fa;
  color: #1e293b;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 9999px;
  padding: 0.9rem 2rem;
  transition: background-color 0.3s ease;
}

.save-btn:hover {
  background-color: #3b82f6;
}


@media (max-width: 393px) {
  .profile-form {
    width: 100vw !important;
    height: auto !important;
    margin-top: 0.5rem !important;
    margin-left: -90rem ;
    margin-right: 3rem ;
    padding: 1rem;
  }
  .form-actions {
    flex-direction: column;
    gap: 1rem;
 
    justify-content: flex-end;
    align-items: flex-end;
  }
  .cancel-btn {
    font-size: 1rem;
    text-align: right;
  }
  .save-btn {
    width: 100%;
    padding: 0.9rem 0;
    font-size: 1rem;
  }
}


@media (min-width: 394px) and (max-width: 1024px) {
  .profile-form {
    width: 90vw !important;
    height: auto !important;
    margin-top: 0;
    margin-bottom: 0.25rem;
    margin-left:-27.5rem !important;
    margin-right: 0 !important;
    padding: 1.5rem;
  }
  .form-actions {
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
  }
  .cancel-btn {
    font-size: 1.25rem;
    text-align: right;
  }
  .save-btn {
    font-size: 1rem;
    padding: 0.9rem 2rem;
  }
}